* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.flexContainer {
    display: flex;
}

.flexItem {
    flex: 1;
}

.flexColumn {
    flex-direction: column;
}

.fullHeight {
    height: 100vh;
}

.whiteBackground {
    background: white;
}

.whiteText {
    color: white;
}

.height50 {
    line-height: 50px;
}

.blueBackground {
    background: lightskyblue;
}

.grayBackground {
    background: #5d5d5d;
}

.main {
    order: 2;
    padding: 20px;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}
